#results .wrapper{
    .alert{
        display: block;
        padding: 1rem;
        margin: .3rem;
        border-radius: .3rem;
        
    
    }
    
    
    .alert-danger{
    
        background-color: $light_red;
        color: $dark_red;
    
    }

    .alert-success{
        background-color: $light_green;
        color: $dark_green;
    }
}