#books{
    display: flex;
    flex-wrap: wrap;

    .book{
        width: 13rem;
        // min-width: 320px;
        height: fit-content;
        text-align: center;
        margin: .5rem;
        transition: transform .1s ease;
        border: 1px solid $light_gray;
        border-radius: .3rem;
        background-color: $waite;
        &:hover{
            transform: scale(1.02);
        }
    }
    .book-title{
        padding: .4rem;

    }

    .book-hash{
        padding: .5rem;
    }

    .book-author{
        padding: .4rem;

    }

    .book-btn{
        display: block;
        padding: .5rem;
        background-color: $light_blue;
        color: $primary_waite;
        margin-top: .3rem;
        border-bottom-left-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }

    .book-img{
        width: 100%;
        height: calc(196rem/16);
        background-color: gray;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;

    }
}