footer{
    background-color: $primary_gray;
    color: $dark_gray;
    p{
        padding: 1rem;
        text-align: center;

        @include mobile {
            font-size: .7rem;
        }
    }
}