*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
    letter-spacing: .1rem;
    font-size: inherit;
}

.wrapper{
    width: 100%;
    max-width: 1045px;
    padding: 0 .5rem;
    margin: 0 auto;
    // border: 1px solid green;
}

body{
    background-color: $dark_waite;
}